        <image commandId="org.jkiss.dbeaver.core.compare.simple" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/types/struct.svg"/>
        <definition id="org.jkiss.dbeaver.cmp.comparable">
        </menuContribution>
                <command commandId="org.jkiss.dbeaver.core.compare.simple">
        <menuContribution allPopups="false" locationURI="menu:dataSourceMenu?after=tools">
        </menuContribution>
        </definition>
        <handler commandId="org.jkiss.dbeaver.core.compare.simple" class="org.jkiss.dbeaver.tools.compare.simple.ui.CompareObjectsHandler">
                <separator name="additions" visible="true"/>


        <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=compare">
        <command id="org.jkiss.dbeaver.core.compare.simple" name="%command.org.jkiss.dbeaver.core.compare.simple.name" description="%command.org.jkiss.dbeaver.core.compare.simple.description" categoryId="org.jkiss.dbeaver.core.util"/>
                </iterate>
            </with>


                <separator name="additions" visible="true"/>

    <extension point="org.eclipse.ui.commandImages">

    <extension point="org.eclipse.ui.handlers">
<?xml version="1.0" encoding="UTF-8"?>
            <menu id="dbeaver-compare-main" label="%menu.compare.label" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/file/compare.svg">
                <count value="+"/>


                </command>
                <iterate operator="and">
            <with variable="selection">
            </menu>
    <extension point="org.eclipse.ui.menus">


                </command>
    </extension>
    </extension>
<plugin>
<?eclipse version="3.2"?>
                <command commandId="org.jkiss.dbeaver.core.compare.simple">
            </menu>
            <enabledWhen><reference definitionId="org.jkiss.dbeaver.cmp.comparable"/></enabledWhen>
    </extension>
    </extension>
                    <visibleWhen checkEnabled="true"/>
            <menu id="dbeaver-compare" label="%menu.compare.label" icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/file/compare.svg">
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
                    <adapt type="org.jkiss.dbeaver.model.navigator.DBNDatabaseNode"/>
</plugin>
                    <visibleWhen checkEnabled="true"/>
    <extension point="org.eclipse.ui.commands">

