                category="org.jkiss.dbeaver.config.migration.third-party"
                class="org.jkiss.dbeaver.ext.oracle.ui.views.OracleConnectionPage"
    </extension>
                        <count value="+"/>
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OraclePackage"/>
                    description="%tool.org.jkiss.dbeaver.ext.oracle.ui.tools.OracleToolScript.description"
                        <adapt type="org.jkiss.dbeaver.model.struct.DBSObject">
        <command id="org.jkiss.dbeaver.ext.oracle.job.run" name="Run" description="Run Job" categoryId="org.jkiss.dbeaver.ext.oracle"/>
    </extension>
        <configurator type="oracleScriptExecute" class="org.jkiss.dbeaver.ext.oracle.ui.tools.OracleTaskConfigurator"/>
                    <with variable="selection">
        <editor id="source.declaration.read-only" class="org.jkiss.dbeaver.ext.oracle.ui.editors.OracleObjectDeclarationViewer"
                class="org.jkiss.dbeaver.ext.oracle.ui.editors.OracleLockEditor"
                    id="org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance.OracleToolGatherStatistics"
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleSchedulerJob"/>
                label="%editor.scheduler.job.log.name"
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleSchema"/>

            <command commandId="org.jkiss.dbeaver.ext.oracle.code.compile">
            </tool>
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleSequence"/>
                id="org.jkiss.dbeaver.ext.oracle.dataSourceWizardView"
                        <adapt type="org.jkiss.dbeaver.model.struct.DBSObject">
                category="org.jkiss.dbeaver.config.migration.third-party"
        <configurator class="org.jkiss.dbeaver.ext.oracle.ui.config.OracleDataTypeConfigurator">
            </command>
    </extension>
                label="DDL" description="DDL" icon="#sql_text" position="additions_middle"
                name="%editor.session_manager.name"
        </handler>
    <extension point="org.eclipse.ui.commands">
                <task id="oracleToolIndexGatherStatistics"/>
                            </adapt>
    </extension>
                <or>
                name="%editor.session_manager.name"
                <task id="oracleToolTableGatherStatistics"/>
                icon="icons/toad_icon.png">
    </extension>
            <tool
                    id="org.jkiss.dbeaver.ext.oracle.ui.tools.OracleToolScript"
        <configurator class="org.jkiss.dbeaver.ext.oracle.ui.config.OracleQueueConfigurator">
            <tool
                icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/locked.svg"
        <propertyConfigurator class="org.jkiss.dbeaver.ext.oracle.model.auth.OracleAuthModelDatabaseNative" uiClass="org.jkiss.dbeaver.ext.oracle.ui.config.OracleAuthDatabaseNativeConfigurator"/>

        </configurator>
                                see https://bugs.eclipse.org/bugs/show_bug.cgi?id=485569
                label="%editor.package.body.name" description="%editor.package.body.description" icon="#sql_text" position="additions_middle"
        <handler commandId="org.jkiss.dbeaver.ext.oracle.job.run" class="org.jkiss.dbeaver.ext.oracle.ui.actions.JobRunHandler">
<?xml version="1.0" encoding="UTF-8"?>
                    id="org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance.OracleToolTriggerDisable"
        </configurator>
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleTable"/>
    </extension>
                id="org.jkiss.dbeaver.ext.oracle.dataSourceEditorView"
                <visibleWhen checkEnabled="true"/>
        <executor class="org.jkiss.dbeaver.ext.oracle.ui.tools.OracleScriptExecutor" datasource="oracle"/>
        </editorContribution>
        <view
        </page>
        <propertyConfigurator class="org.jkiss.dbeaver.ext.oracle.model.auth.OracleAuthOS" uiClass="org.jkiss.dbeaver.ext.oracle.ui.config.OracleAuthOSConfigurator"/>
        <configurator class="org.jkiss.dbeaver.ext.oracle.ui.config.OracleTableTriggerConfigurator">
        <image commandId="org.jkiss.dbeaver.ext.oracle.job.run" icon="icons/run.png"/>
                </adapt>
                contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested" type="folder" embeddable="false">
            </tool>
    <extension point="org.eclipse.core.runtime.preferences">
    <extension point="org.jkiss.dbeaver.sql.executors">
                id="org.jkiss.dbeaver.config.migration.sqldeveloper"
                contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested" type="folder">
        </tools>
    <extension point="org.jkiss.dbeaver.task.ui">
                    singleton="false">
                    <iterate operator="and">
                id="org.jkiss.dbeaver.config.migration.toad"
        </configurator>
        <editor id="source.ddl" class="org.jkiss.dbeaver.ext.oracle.ui.editors.OracleObjectDDLEditor"
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleJavaClass"/>
                            -->
                <with variable="selection">
            <enabledWhen>
            </enabledWhen>
        <editor id="schedulerJob.action" class="org.jkiss.dbeaver.ext.oracle.ui.editors.SchedulerJobActionEditor"
                contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested" type="folder" embeddable="false">
                    group="org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance"
<plugin>
    </extension>
                    <with variable="activePart">
            <toolGroup id="org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance" label="%tool.org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance.label"/>
        </editor>
            <enabledWhen>
        </handler>
                            <instanceof value="org.jkiss.dbeaver.ext.oracle.model.OracleProcedurePackaged"/>
        <configurator class="org.jkiss.dbeaver.ext.oracle.ui.config.OracleForeignKeyConfigurator">
    <extension point="org.eclipse.ui.propertyPages">
                    </iterate>
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OraclePackage"/>
        <category id="org.jkiss.dbeaver.ext.oracle" name="Oracle" description="Oracle Commands"/>
            </tool>
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleSequence"/>
                    description="%tool.org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance.OracleToolTriggerEnable.description"
                    singleton="false">
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleDataType"/>
        <page id="org.jkiss.dbeaver.preferences.oracle.main" class="org.jkiss.dbeaver.ext.oracle.ui.views.PrefPageOracle" name="%page.org.jkiss.dbeaver.preferences.oracle.main.name">
            <tool
            <enabledWhen>

                class="org.jkiss.dbeaver.ext.oracle.ui.views.OracleConnectionPage">
</plugin>
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OraclePackage"/>
            </tool>
        <tools>
                    group="org.jkiss.dbeaver.ext.oracle.ui.tools.statistics"
            <supports dataSource="oracle"/>
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleQueue"/>
                objectType="org.jkiss.dbeaver.ext.oracle.model.OracleSchedulerJob"
                name="Oracle SQL Developer"

        <configurator class="org.jkiss.dbeaver.ext.oracle.ui.config.OracleIndexConfigurator">
                        <adapt type="org.jkiss.dbeaver.model.struct.DBSObject">
                    group="org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance"
                            <!-- Here and below we use double check - adapt + instanceof.
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleMaterializedView"/>
                dataSource="oracle"
        <initializer class="org.jkiss.dbeaver.ext.oracle.ui.internal.OraclePreferencesInitializer"/>
    </extension>
        </editor>
                            <!-- Here and below we use double check - adapt + instanceof.
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleSchema"/>
                            </adapt>

            <tool
                contributorClass="org.jkiss.dbeaver.ui.editors.EditorSearchActionsContributor">
        <editorContribution editorId="org.jkiss.dbeaver.ext.oracle.ui.editors.OracleSessionEditor" category="connectionEditor" label="%editor.session_manager.name" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/sessions.svg">
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleTableForeignKey"/>
                icon="icons/job_log.png">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </configurator>
                <task id="oracleToolMViewRefresh"/>
        </view>
                    description="%tool.org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance.OracleToolGatherStatistics.label"
                    singleton="false">
                main="false"
                label="%dialog.connection.header"
                label="%editor.scheduler.job.action.name" description="%editor.scheduler.job.action.description" icon="#sql_text" position="additions_middle"
        </editor>
                        <count value="+"/>
        </editor>
                </or>
                class="org.jkiss.dbeaver.ext.oracle.ui.tools.toad.ConfigImportWizardToad"
            </tool>
        <editor

                    label="%tool.org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance.OracleToolTriggerEnable.label"

    <extension point="org.eclipse.ui.editors">
                targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard"
                    <test property="org.jkiss.dbeaver.core.datasourceContainer.driverId" value="oracle_thin"/>
                    singleton="false">
                icon="icons/sqldeveloper.png">
                <visibleWhen checkEnabled="true"/>
        <image commandId="org.jkiss.dbeaver.ext.oracle.code.compile" icon="icons/compile.png"/>
                    id="org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance.OracleToolValidateStructure"
                        </adapt>
    <extension point="org.jkiss.dbeaver.ui.propertyConfigurator">
                    <with variable="activePart">
                    id="org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance.OracleToolTriggerEnable"
    <extension point="org.jkiss.dbeaver.dataSourceProvider">
                    label="%tool.org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance.OracleToolTriggerDisable.label"
                    <count value="+"/>
                    </with>
        <configurator class="org.jkiss.dbeaver.ext.oracle.ui.config.OracleSequenceConfigurator">
                label="%editor.package.declaration.name" description="%editor.package.declaration.description" icon="#sql_text" position="additions_middle"
                label="%editor.package.declaration.name" description="%editor.package.declaration.description" icon="#sql_text" position="additions_middle"
    <extension point="org.eclipse.ui.menus">
                    singleton="false">
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleTablespace"/>
        </view>
    <extension point="org.jkiss.dbeaver.databaseEditor">
    </extension>
                <or>
    </extension>
        <editorContribution editorId="org.jkiss.dbeaver.ext.oracle.ui.editors.OracleLockEditor" category="connectionEditor" label="%editor.lock_manager.name" icon="#locked">
                    label="%tool.org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance.OracleToolRefreshMView.label"
                    description="%tool.org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance.OracleToolValidateStructure.label"
        </page>
                    id="org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance.OracleToolRefreshMView"
                    label="%tool.org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance.OracleToolTruncate.label"
                description="%editor.scheduler.job.log.description"
            </command>

                    </with>
                    label="%tool.org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance.OracleToolGatherStatistics.label"
        </wizard>
        </configurator>
        </editorContribution>
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleTableIndex"/>
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleView"/>
        <handler commandId="org.jkiss.dbeaver.ext.oracle.code.package.navigate" class="org.jkiss.dbeaver.ext.oracle.ui.actions.PackageNavigateHandler">

                contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested" type="folder" embeddable="false">
    <extension point="org.eclipse.ui.importWizards">
            </tool>
                class="org.jkiss.dbeaver.ext.oracle.ui.editors.SchedulerJobLogEditor"
            </tool>
                        <!--<adapt type="org.jkiss.dbeaver.ext.oracle.model.OracleProcedurePackaged"/>-->
                    <with variable="selection">
                <task id="oracleToolTriggerEnable"/>
        <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=navigator_additions_end">
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleProcedureStandalone"/>

                            -->
        </handler>
                <task id="oracleToolValidateStructure"/>
                                sing <adapt> with final (Oracle-specific) type will force plugin activation (since E4.6)
                    </with>
                <task id="oracleToolTableTruncate"/>
    </extension>
        </menuContribution>
                contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested" type="folder" embeddable="false">
                    description="%tool.org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance.OracleToolTruncate.description"
        <handler commandId="org.jkiss.dbeaver.ext.oracle.code.compile" class="org.jkiss.dbeaver.ext.oracle.ui.actions.CompileHandler">
            <enabledWhen>
        <editor id="source.declaration" class="org.jkiss.dbeaver.ext.oracle.ui.editors.OracleSourceDeclarationEditor"
                    label="%tool.org.jkiss.dbeaver.ext.oracle.ui.tools.OracleToolScript.label">
                                see https://bugs.eclipse.org/bugs/show_bug.cgi?id=485569
            <description>Toad</description>
                                <instanceof value="org.jkiss.dbeaver.ext.oracle.model.source.OracleSourceObject"/>
        <command id="org.jkiss.dbeaver.ext.oracle.code.compile" name="Compile" description="Compile" categoryId="org.jkiss.dbeaver.ext.oracle"/>
            </enabledWhen>
                id="org.jkiss.dbeaver.ext.oracle.ui.editors.OracleLockEditor">
    </extension>
            </enabledWhen>
                <task id="oracleToolTriggerDisable"/>
                class="org.jkiss.dbeaver.ext.oracle.ui.editors.OracleSessionEditor"
                    singleton="false">
        <editor
                dataSource="oracle"
                class="org.jkiss.dbeaver.ext.oracle.ui.tools.sqldeveloper.ConfigImportWizardSqlDeveloper"

                        </adapt>
                                <instanceof value="org.jkiss.dbeaver.ext.oracle.model.OracleSchedulerJob"/>
                </or>
                    label="%tool.org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance.OracleToolValidateStructure.label"
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleTableTrigger"/>
                            <instanceof value="org.jkiss.dbeaver.ext.oracle.model.OracleSchedulerJob"/>
            <supports dataSource="oracle"/>
            <description>Oracle SQL Developer</description>
                    group="org.jkiss.dbeaver.ext.oracle.ui.tools.statistics"
                        <iterate operator="and">
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleJob"/>


        </editor>
                    </with>
        </configurator>
                        </iterate>


                            <adapt type="org.jkiss.dbeaver.model.struct.DBSObject">
        <configurator class="org.jkiss.dbeaver.ext.oracle.ui.config.OraclePackageConfigurator">
                                sing <adapt> with final (Oracle-specific) type will force plugin activation (since E4.6)
                label="%dialog.connection.header"
        </configurator>
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleDataType" if="!object.predefined"/>
            <command commandId="org.jkiss.dbeaver.ext.oracle.job.run">
        <command id="org.jkiss.dbeaver.ext.oracle.code.package.navigate" name="Go to source code" description="Navigate to object source code" categoryId="org.jkiss.dbeaver.ext.oracle"/>

            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleTableConstraint"/>
    </extension>
                    description="%tool.org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance.OracleToolTriggerDisable.description"
                id="org.jkiss.dbeaver.ext.oracle.ui.editors.SchedulerJobLogEditor"
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleTableIndex"/>
    </extension>
                position="additions_start"
    </extension>
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleSchedulerJob"/>
        <configurator class="org.jkiss.dbeaver.ext.oracle.ui.config.OracleProcedureConfigurator">
        </editor>
                    group="org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance"
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleDataType" if="!object.predefined"/>
                <task id="oracleScriptExecute"/>
                    group="org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance"
                id="org.jkiss.dbeaver.ext.oracle.ui.editors.OracleSessionEditor"
                        <iterate operator="and">
                        </adapt>
            <tool
                name="Toad"
                icon="icons/oracle_icon.png">
    <extension point="org.eclipse.ui.handlers">
                <visibleWhen checkEnabled="true"/>
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleProcedureStandalone"/>
            <toolGroup id="org.jkiss.dbeaver.ext.oracle.ui.tools.statistics" label="%tool.org.jkiss.dbeaver.ext.oracle.ui.tools.statistics.label"/>
        <editor id="source.definition" class="org.jkiss.dbeaver.ext.oracle.ui.editors.OracleSourceDefinitionEditor"
        <editor
                <adapt type="org.jkiss.dbeaver.model.DBPDataSourceContainer">
                targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog"
    <extension point="org.eclipse.ui.preferencePages">
            </enabledWhen>
            <tool
                            <instanceof value="org.jkiss.dbeaver.ext.oracle.model.source.OracleSourceObject"/>
        <wizard
        </configurator>
        </configurator>
        </editor>
                    description="%tool.org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance.OracleToolRefreshMView.label"
        </wizard>
                            <adapt type="org.jkiss.dbeaver.model.struct.DBSObject">
            <objectType name="org.jkiss.dbeaver.ext.oracle.model.OracleTrigger"/>
                icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/sessions.svg"
        </editor>
        <page category="org.jkiss.dbeaver.preferences.drivers" id="org.jkiss.dbeaver.preferences.oracle.general" class="org.jkiss.dbeaver.ext.oracle.ui.views.PrefPageOracle" name="Oracle">

    <extension point="org.eclipse.ui.commandImages">
        <wizard
            <command commandId="org.jkiss.dbeaver.ext.oracle.code.package.navigate">
        <view
        <configurator class="org.jkiss.dbeaver.ext.oracle.ui.config.OracleConstraintConfigurator">
            </command>
                    id="org.jkiss.dbeaver.ext.oracle.ui.tools.maintenance.OracleToolTruncate"
        <configurator class="org.jkiss.dbeaver.ext.oracle.ui.config.OracleSchemaConfigurator">
                </with>
    <extension point="org.jkiss.dbeaver.dataSourceView">
    <extension point="org.jkiss.dbeaver.tools">
    </extension>
        </configurator>
                        </iterate>
            <tool
<?eclipse version="3.2"?>
