        <workbenchWindowInitializer class="org.jkiss.dbeaver.ui.statistics.WorkbenchInitializerDataShareConfirm" order="2"/>


              id="org.jkiss.dbeaver.preferences.main.usageStatistics"
    <extension point="org.eclipse.ui.preferencePages">
    </extension>
              class="org.jkiss.dbeaver.ui.statistics.PrefPageUsageStatistics"
<?eclipse version="3.4"?>
<?xml version="1.0" encoding="UTF-8"?>
    <extension point="org.eclipse.core.runtime.adapters">
    </extension>
    </extension>
        <page category="org.eclipse.ui.preferencePages.Workbench"
        <factory adaptableType="org.jkiss.dbeaver.model.runtime.features.DBRFeatureRegistry" class="org.jkiss.dbeaver.ui.statistics.StatisticsAdapterFactory">
        </factory>

              name="%page.org.jkiss.dbeaver.preferences.main.usageStatistics"/>
            <adapter type="org.jkiss.dbeaver.model.runtime.features.DBRFeatureTracker"/>
<plugin>
</plugin>

    <extension point="org.jkiss.dbeaver.workbenchHandler">
