    <extension point="org.jkiss.dbeaver.ui.propertyConfigurator">
<plugin>
</plugin>
<?eclipse version="3.2"?>
<?xml version="1.0" encoding="UTF-8"?>
        <propertyConfigurator class="org.jkiss.dbeaver.model.impl.net.SSLHandlerImpl" uiClass="org.jkiss.dbeaver.ext.databend.ui.DatabendSSLConfigurator"/>
    </extension>

