            icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/sql/connect.svg"
            <description>SSH tunnel explorer. Allows to view and manage SSH tunnels.</description>
        <view
    </extension>
            category="org.jkiss.dbeaver.core.category"

            id="com.dbeaver.ssh.tunnels"

        <factory adaptableType="org.jkiss.dbeaver.model.net.ssh.JSCHSessionController" class="org.jkiss.dbeaver.ui.net.ssh.jsch.JSCHUIPromptProviderAdapterFactory">
    <extension point="org.eclipse.core.runtime.adapters">
<?xml version="1.0" encoding="UTF-8"?>
        </factory>
        </view>
    </extension>
    <extension point="org.jkiss.dbeaver.ui.propertyConfigurator">
    <extension point="org.eclipse.ui.views">

</plugin>

<plugin>

            class="org.jkiss.dbeaver.ui.net.ssh.SSHTunnelView"
<?eclipse version="3.2"?>
            <adapter type="org.jkiss.dbeaver.model.net.ssh.JSCHUserInfoPromptProvider"/>
    </extension>
            name="SSH tunnel explorer">
        <propertyConfigurator class="org.jkiss.dbeaver.model.net.ssh.SSHTunnelImpl" uiClass="org.jkiss.dbeaver.ui.net.ssh.SSHTunnelConfiguratorUI"/>
