
            <datasource id="mysql"/>

            <type name="GEOGRAPHYPOINT"/>
                <client id="mysql_client" label="MySQL Binaries">
                    </items>
            dialect="mysql">
            <drivers managable="true">
                        label="MySQL 5 (Legacy)"
                                <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLTrigger" label="%tree.triggers.node.name" icon="#triggers" description="%tree.triggers.node.tip" visibleIf="object.dataSource.supportsTriggers()">
                                    <items label="%tree.procedure_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="parameters" navigable="false" inline="true">
                        description="%tree.administer.node.tip">
                    <property name="rewriteBatchedStatements" value="true"/>
                        sampleURL="jdbc:mysql://{host}[:{port}]/[{database}]"
                            <items label="%tree.procedure.node.name" path="procedure" property="procedures" icon="#procedure">
                          desktop="true" hidden="true"/>



                        <folder type="org.jkiss.dbeaver.model.struct.rdb.DBSTableIndex" label="%tree.indexes.node.name" icon="#indexes" description="%tree.indexes.node.tip" virtual="true">
            <types value=""/>

        <provider
            <type name="FLOAT"/>
                        label="StarRocks"
            </driver-properties>
        <dashboard id="mysql.key_efficiency" mapQuery="mysql.query.status" label="Key Efficiency" defaultView="timeseries" group="Status" updatePeriod="1000"
        <manager class="org.jkiss.dbeaver.ext.mysql.edit.MySQLIndexManager" objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLTableIndex"/>
                        <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLProcedure" label="%tree.procedures.node.name" icon="#procedures" description="%tree.procedures.node.tip">
        </dashboard>
                order="2"
                                </folder>

        <method id="mysqlReplaceIgnore" class="org.jkiss.dbeaver.ext.mysql.model.MySQLInsertReplaceMethod" label="REPLACE INTO" description="Insert replace duplicate key value"/>
              icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/file/import.svg" type="mysql"
                        <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLView" label="%tree.views.node.name" icon="#folder_view" description="%tree.views.node.tip">
                        class="com.mysql.cj.jdbc.Driver"
                        iconBig="icons/starRocks_icon_big.png"
        <task id="mysqlScriptExecute" name="%task.mysqlScriptExecute.name" description="%task.mysqlScriptExecute.description" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/script.svg" type="mysql" handler="org.jkiss.dbeaver.ext.mysql.tasks.MySQLScriptExecuteHandler">
                                    </items>
                <property id="ssl.ca.cert.value" label="CA Certificate" type="file" description="Choose CA certificate file" features="secured" length="MULTILINE"/>
        </task>
        <manager class="org.jkiss.dbeaver.ext.mysql.edit.MySQLViewManager" objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLView"/>
            <functions value=""/>
                        id="mysql8"
                <driver
            <type name="ENUM"/>


                </propertyGroup>
                </client>
                    <parameter name="supports-references" value="false"/>
                   calc="delta" value="bytes" mapKeys="Innodb_data_read,Innodb_data_written" mapLabels="Read,Write" measure="Kb/s"
    </extension>
            showByDefault="true" description="Server outbound traffic">
            <datasource id="mysql"/>
    </extension>
                </folder>
        <manager class="org.jkiss.dbeaver.ext.mysql.edit.MySQLTableManager" objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLTable"/>
        <category id="mysqlTool" parent="mysql" name="%org.jkiss.dbeaver.task.category.mysqlTool.name" description="%org.jkiss.dbeaver.task.category.mysqlTool.description" icon="icons/mysql_icon.png"/>
                        <file type="exec" name="mysqldump.exe"/>
        <dashboard id="mysql.innodb.memory" mapQuery="mysql.query.status" label="InnoDB memory" defaultView="timeseries" group="Status"
                </driver>
                </driver>
        <manager class="org.jkiss.dbeaver.ext.mysql.edit.MySQLForeignKeyManager" objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLTableForeignKey"/>
                    promoted="1"
                        <file type="exec" name="mysql.exe"/>

                                    <items label="%tree.index.node.name" path="index" property="indexes" icon="#index">
    <extension point="org.jkiss.dbeaver.sqlCommand">
                    useURL="false"
                            </items>
                <folder type="" label="%tree.administer.node.name" icon="#folder_admin" id="folderAdmin"
                        <items label="%tree.engine.node.name" path="engines" property="engines" icon="#info" navigable="false" virtual="true"/>
        <dashboard id="mysql.innodb.data" mapQuery="mysql.query.status" label="InnoDB data" defaultView="timeseries" group="Status"
                    propertiesURL="https://dev.mysql.com/doc/connector-j/en/connector-j-reference-configuration-properties.html"
                                </folder>
                        webURL="http://www.mysql.com/products/connector/"
                <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLCatalog" label="%tree.databases.node.name" icon="#folder_schema" description="%tree.databases.node.tip">

                    </folder>
                        </folder>
                        <items label="%tree.variable.node.name" path="sessionStatus" property="sessionStatus" icon="#info" navigable="false" virtual="true"/>

        <manager class="org.jkiss.dbeaver.ext.mysql.edit.MySQLConstraintManager" objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLTableConstraint"/>
                    <items label="%tree.database.node.name" path="database" property="catalogs" icon="#database">
                   calc="delta" value="integer" mapKeys="Com_select,Com_insert,Com_update,Com_delete" mapLabels="Select,Insert,Update,Delete"
                    <folder label="%tree.session_status.node.name" icon="#info" description="Session status">
                        <file type="exec" name="mariadb-dump.exe"/>
    <extension point="org.jkiss.dbeaver.networkHandler">
                    propertiesURL="https://mariadb.com/kb/en/library/about-mariadb-connector-j/#optional-url-parameters"
<plugin>
                    <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLCharset" label="%tree.charsets.node.name" icon="#info" description="Database charsets">
                                    <items label="%tree.reference_key.node.name" path="referenceKey" property="references" icon="#reference" virtual="true">
                        <items label="%tree.variable.node.name" path="sessionVariables" property="sessionVariables" icon="#info" navigable="false" virtual="true"/>
        <manager class="org.jkiss.dbeaver.ext.mysql.edit.MySQLDatabaseManager" objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLCatalog" label="%manager.catalog.name"/>
            <objectType name="org.jkiss.dbeaver.ext.mysql.MySQLDataSourceProvider"/>
                            </items>

                    <replace provider="mysql" driver="mysql3"/>
        </dashboard>
                        description="Driver for MySQL 5.x+"
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLTableBase" if="object.dataSource.supportsNativeClients()"/>
            <type name="JSON"/>
        </datasource>
                    icon="icons/mysql_icon.png"
            class="org.jkiss.dbeaver.ext.mysql.data.MySQLValueHandlerProvider"
                codeName="SSL"
        <manager class="org.jkiss.dbeaver.ext.mysql.edit.MySQLProcedureManager" objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLProcedure"/>
                    <file type="jar" path="drivers/mysql/mysql8" bundle="drivers.mysql"/>
                    <property name="@dbeaver-default-dataformat.type.timestamp.pattern" value="yyyy-MM-dd HH:mm:ss"/>
            <keywords value=""/>
                                    <items label="%tree.foreign_key.node.name" path="association" property="associations" icon="#foreign-key">
                    <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLPlugin" label="%tree.plugin.node.name" icon="#info" description="Database plugins" visibleIf="connected &amp;&amp; object.dataSource.supportsPlugins()">
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLCatalog" if="object.dataSource.supportsNativeClients()"/>
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLCatalog" if="object.dataSource.supportsNativeClients()"/>
                    defaultPort="3306"
            <datasource id="mysql"/>
                                        <items label="%tree.reference_key_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true" virtual="true">
        </task>
                    <file type="jar" path="drivers/mysql/mysql8" bundle="drivers.mysql"/>
                                </folder>-->
            <type name="GEOGRAPHY"/>

                        id="mysql5"
    </extension>
                   calc="value" value="bytes" mapKeys="Innodb_mem_total,Innodb_mem_dictionary,Innodb_mem_adaptive_hash" mapLabels="Total,Dict,Hash"
                                <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLTableConstraint" label="%tree.constraints.node.name" icon="#constraints" description="Table constraints">
        </factory>
        <mapQuery id="mysql.query.status" updatePeriod="1000">SHOW GLOBAL STATUS</mapQuery>
                        <items label="%tree.variable.node.name" path="globalStatus" property="globalStatus" icon="#info" navigable="false" virtual="true"/>
                    defaultUser="root"
            <property name="" value=""/>
                                        </items>
                        <driver id="mariaDB"/>
            icon="icons/mysql_icon.png"
    </extension>
            <!-- Spatial -->
                            </items>
                                </folder>
                    label="MariaDB"

                                    <items label="%tree.columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributes" icon="#column">
                                    </items>
            <datasource id="mysql"/>
                          desktop="true"/>
            <datasource id="mysql"/>
                <property id="ssl.client.cert" label="Client Certificate Path" type="string" description="Path to a client certificate file"
            </propertyGroup>
                    <property name="@dbeaver-default-dataformat.type.timestamp.pattern" value="yyyy-MM-dd HH:mm:ss"/>
                <property id="ssl.client.key.value" label="Client Private Key" type="file" description="Choose client private key file" features="secured,password" length="MULTILINE"/>
                    <folder label="%tree.global_variables.node.name" icon="#info" description="Global variables">
                    webURL="https://mariadb.com/kb/en/mariadb/about-mariadb-connector-j/"

                    defaultPort="3306"
                        </folder>
                    <property name="connectTimeout" value="20000"/>
                    </folder>
            </nativeClients>
                            <items label="%tree.index.node.name" path="index" property="indexes" icon="#index" virtual="true">
                        categories="sql">
<?xml version="1.0" encoding="UTF-8"?>

            <datasource id="mysql"/>
                <property id="ssl.method" label="Method" type="string" validValues="CERTIFICATES" defaultValue="CERTIFICATES"
        <task id="mysqlToolCheckTable" name="%task.mysqlToolCheckTable.name" description="%task.mysqlToolCheckTable.description" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/admin.svg" type="mysqlTool" handler="org.jkiss.dbeaver.ext.mysql.tasks.MySQLToolTableCheck">
                    iconBig="icons/mysql_icon_big.png"
            </propertyGroup>
            <type name="SET"/>
        <task id="mysqlDatabaseBackup" name="%task.mysqlDatabaseBackup.name" description="%task.mysqlDatabaseBackup.description"
                    <parameter name="supportsClients" value="false"/>
                        useURL="false"
                                </folder>
                        databaseDocumentationSuffixURL="Database-driver-MySQL"
                        class="com.mysql.jdbc.Driver"
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLCatalog" if="object.dataSource.supportsNativeClients()"/>
                    class="com.mysql.jdbc.Driver"
            id="MySQLValueHandlerProvider"
                <property id="ssl.require" label="Require SSL" type="boolean" description="Require server support of SSL connection."/>
                <property id="ssl.ca.cert" label="CA Certificate Path" type="string" description="Path to a CA certificate file"
        <method id="mysqlReplaceIgnoreUpdate" class="org.jkiss.dbeaver.ext.mysql.model.MySQLInsertReplaceMethodUpdate" label="ON DUPLICATE KEY UPDATE" description="Insert update duplicate key value"/>
                </folder>
                    <property name="enabledTLSProtocols" value="TLSv1,TLSv1.1,TLSv1.2,TLSv1.3"/>
                        <file type="exec" name="mariadb.exe"/>
                                        </items>
                        defaultPort="3306"
                                    </items>
                <provider-properties drivers="*">
                    </propertyGroup>
                    <property id="cache-meta-data" label="%parameters.all.caches" description="%parameters.all.caches.tip" type="boolean" required="false" defaultValue="true"/>
    </extension>
        <manager class="org.jkiss.dbeaver.ext.mysql.edit.MySQLTriggerManager" objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLTrigger"/>
        <manager class="org.jkiss.dbeaver.ext.mysql.edit.MySQLEventManager" objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLEvent"/>
                        sampleURL="jdbc:mysql://{host}[:{port}]/[{database}]"
            <type standard="TIMESTAMP"/>
                    <parameter name="supports-charsets" value="false"/>
                        <file type="exec" name="mysql.exe"/>
              handler="org.jkiss.dbeaver.ext.mysql.tasks.MySQLDatabaseExportHandler" requiresExportPrivileges="true">
            calc="delta" value="bytes" mapKeys="Bytes_sent,Bytes_received"  mapLabels="Sent,Received" measure="Kb/s"
            <type name="MULTIPOINT"/>
    <extension point="org.jkiss.dbeaver.dashboard">
        <datasource
            <type name="DOUBLE PRECISION"/>
                            <items label="%tree.user.node.name" path="grants" property="grants"/>
                   showByDefault="false" description="InnoDB memory stats">
                    </folder>
                    </folder>
                    <property name="@dbeaver-default-resultset.maxrows.sql" value="true"/>
                    </folder>
            <driver-properties>
                        <file type="lib" name="libssl-1_1-x64.dll"/>
                        useURL="false"
                                <!--<folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLTableCheckConstraint" label="%tree.check.constraints.node.name" icon="#check_constraints" description="Table check constraints" visibleIf = "object.dataSource.supportsCheckConstraints()">


                        defaultUser="root"
</plugin>
    <extension point="org.jkiss.dbeaver.dataSourceProvider">
        <category id="mysql" name="MySQL" description="%org.jkiss.dbeaver.task.category.mysql.description" icon="icons/mysql_icon.png"/>
                            </items>
            <propertyGroup label="Additional SSL Settings">
                    <folder label="%tree.session_variables.node.name" icon="#info" description="Session variables">
                        <file type="lib" name="libcrypto-1_1-x64.dll"/>
                        <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLSequence" label="%tree.sequences.node.name" icon="#sequences" description="%tree.sequences.node.tip" visibleIf="object.dataSource.supportsSequences()">
                                        <items label="Index columns" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true">
                    <file type="license" path="licenses/external/gnu3.txt"/>
                        <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLGrant" label="%tree.userGrants.node.name" description="%tree.userGrants.node.tip">
                    <file type="license" path="licenses/external/gnu3.txt"/>
        <task id="mysqlToolAnalyzeTable" name="%task.mysqlToolAnalyzeTable.name" description="%task.mysqlToolAnalyzeTable.description" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/admin.svg" type="mysqlTool" handler="org.jkiss.dbeaver.ext.mysql.tasks.MySQLToolTableAnalyze">

                                <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLPartition" label="%tree.partitions.node.name" icon="#partitions" description="Table partitions" visibleIf="object.dataSource.supportsPartitions()">
                description="Secure socket layer"
                    <file type="jar" path="drivers/mysql/mysql8" bundle="drivers.mysql"/>
                        <folder type="org.jkiss.dbeaver.model.struct.rdb.DBSTrigger" label="%tree.triggers.node.name" icon="#triggers" description="%tree.triggers.node.tip" virtual="true" visibleIf="object.dataSource.supportsTriggers()">
                        <file type="exec" name="mysqldump.exe"/>
                </driver>
                                </items>
        </task>
    </extension>
              handler="org.jkiss.dbeaver.ext.mysql.tasks.MySQLScriptExecuteHandler" requiresMutability="true"


                <property id="ssl.verify.server" label="Verify server certificate" type="boolean" description="Should the driver verify the server's certificate? When using this feature, the explicit certificate parameters should be specified, rather than system properties." defaultValue="true"/>
                </provider-properties>
                                </folder>
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLTable"/>
                                </folder>
                    </folder>
            <propertyGroup label="Method">
                    id="mysql_ndb"
            <type name="MULTILINESTRING"/>
                    <property name="@dbeaver-default-resultset.maxrows.sql" value="true"/>
                                    </items>
            <type name="GEOMETRYCOLLECTION"/>
                  path="mysql">
                        description="Driver for MySQL 8 and later"
    <extension point="org.eclipse.core.runtime.adapters">
                                <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLTableForeignKey" label="%tree.foreign_keys.node.name" icon="#foreign-keys" description="Table foreign keys" visibleIf="object.dataSource.info.supportsReferentialIntegrity()">
                </driver>
                <driver
            id="mysql"
                        propertiesURL="https://dev.mysql.com/doc/connector-j/en/connector-j-reference-configuration-properties.html"
                id="mysql_ssl"
                    <file type="jar" path="maven:/com.mysql:mysql-connector-j:RELEASE[8.2.0]" bundle="!drivers.mysql"/>
                    <property name="rewriteBatchedStatements" value="true"/>


        </task>
        </dashboard>
                   showByDefault="true" description="InnoDB data stats">
                    databaseDocumentationSuffixURL="Database-driver-MariaDB"
                </client>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLPackage" label="%tree.packages.node.name" icon="#packages" description="%tree.packages.node.description" visibleIf="object.dataSource.mariaDB">
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLTable"/>
            <datasource id="mysql"/>
                </folder>
                  label="MySQL data source"
                    <property name="@dbeaver-default-resultset.format.datetime.native" value="true"/>
            <type name="DOUBLE"/>

                    <property name="connectTimeout" value="20000"/>
        <factory adaptableType="org.jkiss.dbeaver.ext.mysql.model.MySQLDialect" class="org.jkiss.dbeaver.ext.mysql.sql.MySQLDialectAdapterFactory">
    <extension point="org.jkiss.dbeaver.task">
            <type name="POINT"/>
                </driver>
                prefix="ssl"
                        <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLTable" label="%tree.tables.node.name" icon="#folder_table" description="%tree.tables.node.tip">
                    </dist>
                                    </items>
                    <file type="jar" path="maven:/com.mysql:mysql-connector-j:RELEASE[8.2.0]" bundle="!drivers.mysql"/>
                <property id="ssl.client.key" label="Client Private Key Path" type="string" description="Path to a client private key file"
            <query>SELECT Command,count(*) from information_schema.PROCESSLIST GROUP BY Command</query>
        </dashboard>
                    <treeContribution category="connectionEditor"/>
            <datasource id="mysql"/>
                <propertyGroup label="Parameters" description="Custom driver parameters">
        </task>
                        </items>
                                    </items>
        <manager class="org.jkiss.dbeaver.ext.mysql.edit.MySQLTableColumnManager" objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLTableColumn"/>
                    <parameter name="supports-partitions" value="false"/>
                    description="MariaDB JDBC driver"
                            <items label="%tree.trigger.node.name" path="trigger" property="triggers" icon="#trigger" virtual="true">
                    <folder label="%tree.global_status.node.name" icon="#info" description="Global status">
                          desktop="true"/>
                                <folder label="%tree.references.node.name" icon="#references" description="Table references" virtual="true" visibleIf="object.dataSource.info.supportsReferentialIntegrity()">
                                </folder>
                            <items label="%tree.package.node.name" path="package" property="packages" icon="#package">
            </tree>
            description="MySQL connector"
                <property id="ssl.client.cert.value" label="Client Certificate" type="file" description="Choose client certificate file" features="secured" length="MULTILINE"/>
                    <propertyGroup label="Advanced">
                    </dist>
                desktop="false"
                    <property name="@dbeaver-default-dataformat.type.timestamp.pattern" value="yyyy-MM-dd HH:mm:ss"/>
            <type name="UUID"/>
            </drivers>
                    </folder>
        <!-- SQL tools -->
                <driver
                    </items>
                </folder>
              confirmationMessage="%mysqlDatabaseRestore.confirmationMessage">

                    <dist os="win32" targetPath="clients/mysql_8/win" remotePath="repo:/drivers/mysql/client_8/win" resourcePath="clients/mysql_8/win">
    <extension point="org.jkiss.dbeaver.objectManager">
                    id="mariaDB"
                        defaultUser="root"
        </dashboard>
                                        </items>
                        promoted="1"

        </handler>
                  icon="icons/mysql_icon.png"
                                <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLTableIndex" label="%tree.indexes.node.name" icon="#indexes" description="Table indexes">
                        id="folderInfo" description="%tree.system_info.node.tip">
            <datasource id="mysql"/>
                        class="com.mysql.cj.jdbc.Driver"
        <task id="mysqlToolRepairTable" name="%task.mysqlToolRepairTable.name" description="%task.mysqlToolRepairTable.description" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/admin.svg" type="mysqlTool" handler="org.jkiss.dbeaver.ext.mysql.tasks.MySQLToolTableRepair">
                                </folder>
                        defaultUser="root"
                                    <items label="%tree.partition.node.name" path="partition" property="partitions" icon="#partition">
                        <items label="%tree.charset.node.name" path="charsets" property="charsets" icon="#info">
            <datasource id="mysql"/>
        <handler
                    icon="icons/mariadb_icon.png"
                    <parameter name="supports-users" value="false"/>
                                <folder label="%tree.procedure_columns.node.name" icon="#columns" description="Procedure columns" >
                    categories="sql">
            <property name="insertMethods" value="mysqlInsertIgnore,mysqlReplaceIgnore,mysqlReplaceIgnoreUpdate"/>
                        description="Driver for MySQL 8 and StarRocks"
                <client id="mariadb_client" label="MariaDB Binaries">
                                        </items>
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLTable"/>
            <type standard="DATE"/>
                    <file type="jar" path="maven:/mysql:mysql-connector-java:RELEASE[5.1.49]" bundle="!drivers.mysql"/>
                                        <items label="%tree.constraint_columns.node.name" path="column" property="attributeReferences" navigable="false" inline="true" visibleIf="object.constraintType!='CHECK'">
                    webURL="https://dev.mysql.com/doc/ndbapi/en/mccj-using-connectorj.html"
        <method id="mysqlInsertIgnore" class="org.jkiss.dbeaver.ext.mysql.model.MySQLInsertReplaceMethodIgnore" label="INSERT IGNORE" description="Insert ignore duplicate key value"/>
                        webURL="https://www.mysql.com/products/connector/"
                            </items>
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLTable"/>
                    </dist>

                        <items label="%tree.privilege.node.name" path="privileges" property="privileges" icon="#info" navigable="false" virtual="true"/>
                        iconBig="icons/mysql_icon_big.png"
                            </items>
            <propertyGroup label="SSL Settings">
                        databaseDocumentationSuffixURL="Database-driver-MySQL"
                            <items label="%tree.table.node.name" path="table" property="tables" icon="#table">
                <client id="mysql5_client" label="MySQL 5 Binaries">
                            </items>
                        propertiesURL="https://dev.mysql.com/doc/connector-j/5.1/en/connector-j-reference-configuration-properties.html"
                    </folder>
                        <items label="%tree.variable.node.name" path="globalVariables" property="globalVariables" icon="#info" navigable="false" virtual="true"/>
                    sampleURL="jdbc:mysql:loadbalance://{host}[:{port}]/[{database}]"
                                    </items>
                    iconBig="icons/mariadb_icon_big.png"
        </dashboard>
                    <property name="@dbeaver-default-resultset.maxrows.sql" value="true"/>
        </provider>
            description="MySQL data types provider"
    </extension>
                    <parameter name="supports-collations" value="false"/>
                                    <items label="%tree.column.node.name" path="attribute" property="attributes" icon="#column">
                        <property id="@dbeaver-show-all-dbs@" label="Show all databases" type="boolean" description="Show all databases on server. Otherwise show current database only." defaultValue="false"/>
                    <file type="license" path="licenses/external/gnu3.txt"/>
                <property id="ssl.public.key.retrieve" label="Allow public key retrieval" type="boolean" description="Allows special handshake roundtrip to get server RSA public key directly from server."/>
            label="MySQL data types provider">
                    <file type="license" path="licenses/external/lgpl-2.0.txt"/>
                    <property name="@dbeaver-default-resultset.format.datetime.native" value="true"/>

                label="SSL"
                    <property name="enabledTLSProtocols" value="TLSv1,TLSv1.1,TLSv1.2,TLSv1.3"/>
                    <property name="@dbeaver-default-resultset.maxrows.sql" value="true"/>
                        categories="sql">
                        </folder>
            <type name="MULTIPOLYGON"/>
                        iconBig="icons/mysql_icon_big.png"
                    <file type="jar" path="drivers/mariadb" bundle="drivers.mariadb"/>
                                <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLTableColumn" label="%tree.columns.node.name" icon="#columns" description="Table columns">
                    <parameter name="supports-triggers" value="false"/>
            label="MySQL"
                        </folder>
                </client>
                            <items label="%tree.view.node.name" path="view" property="views" icon="#view">
                    class="org.mariadb.jdbc.Driver"
                        </folder>
                   showByDefault="true" description="Queries stats">
            <adapter type="org.jkiss.dbeaver.model.text.parser.TPRuleProvider"/>


        <dialect id="mysql" parent="basic" class="org.jkiss.dbeaver.ext.mysql.model.MySQLDialect" label="MySQL" description="MySQL dialect." icon="icons/mysql_icon.png">
                <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLInformation" label="%tree.system_info.node.name" icon="#folder_info"
                    <folder type="org.jkiss.dbeaver.model.access.DBAPrivilege" label="%tree.user_privileges.node.name" icon="#info" description="User privileges">
                    label="NDB Cluster"
                        webURL="https://docs.starrocks.io/docs/quick_start/shared-nothing/"
            <datasource id="mysql"/>
                        categories="sql">
        <task id="mysqlDatabaseRestore" name="%task.mysqlDatabaseRestore.name" description="%task.mysqlDatabaseRestore.description"
                <driver id="mysql3"/>
        <task id="mysqlToolOptimizeTable" name="%task.mysqlToolOptimizeTable.name" description="%task.mysqlToolOptimizeTable.description" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/admin.svg" type="mysqlTool" handler="org.jkiss.dbeaver.ext.mysql.tasks.MySQLToolTableOptimize">

                    <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLEngine" label="%tree.engines.node.name" icon="#info" description="Database engines">
                                        <items label="%tree.subpartitions.node.name" itemLabel="%tree.subpartition.node.name" path="subpartition" property="subPartitions" navigable="false" inline="true">
                    <!--<property name="@dbeaver-default-resultset.format.datetime.native" value="true"/>-->
        <command id="mysql.source" class="org.jkiss.dbeaver.ui.editors.sql.commands.SQLCommandInclude" label="Include" description="Include another MySQL script file"/>
                    <parameter name="krb5.enabled" value="true"/>
                secured="false"
                        <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLEvent" label="%tree.events.node.name" icon="#events" description="%tree.events.node.tip" visibleIf="object.dataSource.supportsEvents()">
                            <items label="%tree.collation.node.name" path="collations" property="collations" icon="#info" navigable="false"/>
                        defaultPort="3306"

            <ddlKeywords value=""/>
                                    <items label="%tree.trigger.node.name" path="trigger" property="triggers" icon="#trigger">
                    <property name="@dbeaver-default-resultset.format.datetime.native" value="true"/>
            <dmlKeywords value=""/>
                    sampleURL="jdbc:mariadb://{host}[:{port}]/[{database}]"
    </extension>
        <dashboard id="mysql.sessions" label="%dashboard.mysql.sessions.label" defaultView="timeseries" group="Standard" updatePeriod="2000" calc="value" value="integer" fetch="rows" showByDefault="true" description="%dashboard.mysql.sessions.description">
            <tree
              icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/file/export.svg" type="mysql"
                        useURL="false"
            class="org.jkiss.dbeaver.ext.mysql.MySQLDataSourceProvider"
        <dashboard id="mysql.com.queries" mapQuery="mysql.query.status" label="Queries" defaultView="timeseries" group="Status"
                                        <items label="%tree.foreign_key_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true">
    <extension point="org.jkiss.dbeaver.sqlInsertMethod">
                    <property name="connectTimeout" value="20000"/>
                    <items label="%tree.user.node.name" path="users" property="users" icon="#user">
                            </items>
                    <dist os="win32" targetPath="clients/mysql/win" remotePath="repo:/drivers/mysql/client/win" resourcePath="clients/mysql/win">
                    description="Driver for MySQL NDB cluster"
                    <property name="connectTimeout" value="20000"/>
            <type standard="TIME"/>
            <execKeywords value=""/>
                        </folder>
                    databaseDocumentationSuffixURL="Database-driver-MySQL"

        </dialect>
                type="config"
                            <items label="%tree.sequences.node.name" path="sequence" property="sequences" icon="#sequence">
                    <file type="jar" path="maven:/com.mysql:mysql-connector-j:RELEASE[8.3.0]" bundle="!drivers.mysql"/>
                                    <items label="%tree.constraint.node.name" path="constraint" property="constraints" icon="#unique-key">

        </task>
                    <!-- https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-reference-using-ssl.html -->
                                    <items label="%tree.check.constraint.node.name" path="constraint" property="checkConstraints" icon="#constraint">
        <manager class="org.jkiss.dbeaver.ext.mysql.edit.MySQLPartitionTableManager" objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLPartition"/>
        <task id="mysqlToolTruncateTable" name="%task.mysqlToolTruncateTable.name" description="%task.mysqlToolTruncateTable.description" icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/admin.svg" type="mysqlTool" handler="org.jkiss.dbeaver.ext.mysql.tasks.MySQLToolTableTruncate">
                handlerClass="org.jkiss.dbeaver.ext.mysql.model.net.MySQLSSLHandlerImpl">
                        sampleURL="jdbc:mysql://{host}[:{port}]/[{database}]"
                          desktop="true"/>
                <property id="ssl.cipher.suites" label="Cipher Suites (optional)" description="Specify a comma-separated list of cipher suites" type="string" features="secured,password"/>
                        </folder>
                        <items label="%tree.plugin.node.name" path="plugins" property="plugins" icon="#info" navigable="false" virtual="true"/>
<?eclipse version="3.2"?>
                                </folder>
                        id="starRocks"
            showByDefault="false" description="Key read efficiency">
                                <folder label="%tree.columns.node.name" icon="#columns" description="View columns" >
                        defaultPort="9030"

    </extension>
            <datasource id="mysql"/>
            <type standard="BIT"/>
                    <file type="license" path="licenses/external/lgpl-2.1.txt"/>
            <datasource id="mysql"/>
                        logoImage="icons/starRocks_logo.png"
                        <property id="@dbeaver-serverTimezone@" label="Server Time Zone" type="string"/>
                    <file type="jar" path="drivers/mysql/mysql5" bundle="drivers.mysql"/>
                <folder type="org.jkiss.dbeaver.ext.mysql.model.MySQLUser" label="%tree.users.node.name" icon="#folder_user" description="%tree.users.node.tip" visibleIf="connected &amp;&amp; object.dataSource.supportsUserManagement()">
            <type name="POLYGON"/>
                    <parameter name="supports-events" value="false"/>
                    defaultUser="root"
            <nativeClients>
            </propertyGroup>
                        label="MySQL"
    <extension point="org.jkiss.dbeaver.dataTypeProvider">
            calc="value" value="percent" mapFormula="100 - ((map.key_reads * 100 / map.key_read_requests) / 3)" mapLabels="Key Efficiency" measure="%"
                <driver
                        icon="icons/mysql_icon.png"
    <extension point="org.jkiss.dbeaver.sqlDialect">
    </extension>
        </task>
            <datasource id="mysql"/>
            <type name="GEOMETRY"/>
            <datasource id="mysql"/>
                                <items label="Index columns" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true" virtual="true">
                        </folder>
                        icon="icons/starRocks_icon.png"
                    categories="sql">
        <dashboard id="mysql.traffic" mapQuery="mysql.query.status" label="Traffic" defaultView="timeseries" group="Status"
                        icon="icons/mysql_icon.png"
            <type name="LINESTRING"/>
                                    </items>
                                        </items>
                    <file type="jar" path="maven:/org.mariadb.jdbc:mariadb-java-client:RELEASE[3.5.2]" bundle="!drivers.mariadb"/>
                <driver
        <manager class="org.jkiss.dbeaver.ext.mysql.edit.MySQLSequenceManager" objectType="org.jkiss.dbeaver.ext.mysql.model.MySQLSequence"/>
                                    </items>

        </task>
                                    </items>
                    <dist os="win32" targetPath="clients/mariadb/win" remotePath="repo:/drivers/mariadb/client/win" resourcePath="clients/mariadb/win">
                            <items label="%tree.event.node.name" path="event" property="events" icon="#event">
            <objectType name="org.jkiss.dbeaver.ext.mysql.model.MySQLTable"/>

