            message="%confirm.drop_sql.message"
    <extension point="org.eclipse.core.runtime.preferences">
                          description="Automatically inserts table aliases"/>
            toggleMessage="%confirm.sql.toggleMessage"
        </generator>
        </generator>
        </generator>
                <property id="sql.parameter.enabled" label="%sql.parameter.enabled" description="%sql.parameter.enabled.description"
                          validValues="NONE,PLAIN,EXTENDED" defaultValue="PLAIN" type="string" scopes="global,user"
            group="%confirm.sql.group.name"/>
        </generator>
<?xml version="1.0" encoding="UTF-8"?>
                          defaultValue="true" type="boolean" scopes="user"/>
                <property id="org.jkiss.dbeaver.core.confirm.drop_sql"
            <objectType name="org.jkiss.dbeaver.model.struct.rdb.DBSProcedure"/>
        <formatter id="compact" class="org.jkiss.dbeaver.model.sql.format.tokenized.SQLFormatterCompact" label="%sql.formatter.compact.name" description="%sql.formatter.compact.tip"/>
                file-extensions="sql,ddl"

            <objectType name="org.jkiss.dbeaver.model.data.DBDResultSetDataProvider"/>
            <objectType name="org.jkiss.dbeaver.model.struct.DBSDataManipulator"/>
                          defaultValue="false" type="boolean" scopes="global,user"/>
                base-type="org.eclipse.core.runtime.text"
        </dialect>

    </extension>
            <contentTypeBinding contentTypeId="org.jkiss.dbeaver.sql"/>
            </propertyGroup>
        </generator>
</plugin>
    <extension-point id="org.jkiss.dbeaver.sqlInsertMethod" name="%extension-point.org.jkiss.dbeaver.sqlInsertMethod" schema="schema/org.jkiss.dbeaver.sqlInsertMethod.exsd"/>
                <property id="SQLEditor.ContentAssistant.experimental.mode" label="%SQLEditor.ContentAssistant.experimental.mode"
    </extension>
    <extension point="org.jkiss.dbeaver.sqlDialect">
            toggleMessage="%confirm.sql.toggleMessage"
        <confirmation
    <!-- SQL Formatters -->
            <objectType name="org.jkiss.dbeaver.model.data.DBDResultSetDataProvider"/>

              folderIcon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/script_folder.svg"
                          defaultValue="true" type="boolean" scopes="user"/>

        </generator>
            group="%confirm.sql.group.name"/>
        <generator id="dataDeleteByUniqueKey" class="org.jkiss.dbeaver.model.sql.generator.resultset.SQLGeneratorDeleteFromData" label="DELETE by Unique Key" description="DELETE from table" order="5">
            id="save_sql_console"
    <extension point="org.jkiss.dbeaver.resourceType">
        <generator id="dataUpdate" class="org.jkiss.dbeaver.model.sql.generator.resultset.SQLGeneratorUpdateFromData" label="UPDATE" description="UPDATE table" order="4">
        <generator id="tableJoin" class="org.jkiss.dbeaver.model.sql.generator.SQLGeneratorSimpleJoin" label="SIMPLE JOIN" description="JOIN tables" order="6" multiObject="true">
        <confirmation
    <extension point="org.eclipse.core.contenttype.contentTypes">
            message="%confirm.save_sql_console.message"
                name="SQL Script"
                <property id="sql.variables.enabled" label="%sql.variables.enabled" description="%sql.variables.enabled.description"
        <generator id="tableInsert" class="org.jkiss.dbeaver.model.sql.generator.SQLGeneratorInsert" label="INSERT" description="INSERT into table" order="2">
        </generator>
            description="%confirm.dangerous_sql.tip"
            description="%confirm.close_running_query.tip"
    </extension>
            toggleMessage="%confirm.sql.toggleMessage"
            <objectType name="org.jkiss.dbeaver.model.struct.DBSDataManipulator"/>
                          type="boolean" scopes="user" defaultValue="true"/>
              icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/script.svg"
              managable="true">

        <type id="sql-script"
    </extension>
    <extension point="org.jkiss.dbeaver.sqlGenerator">
        </lsmDialect>
            <appliesTo dialectClass="org.jkiss.dbeaver.model.impl.sql.AbstractSQLDialect"/>
        </generator>
    
        <generator id="dataInsert" class="org.jkiss.dbeaver.model.sql.generator.resultset.SQLGeneratorInsertFromData" label="INSERT" description="INSERT into table" order="3">
            description="%confirm.close_result_tabs.tip"
            id="close_result_tabs"
        </type>
            <property name="dmlKeywords" value="INSERT,DELETE,UPDATE,UPSERT,MERGE,TRUNCATE"/>
        <lsmDialect analyzerFactoryClass="org.jkiss.dbeaver.model.lsm.sql.dialect.SQLStandardAnalyzerFactory">
        <command id="echo" class="org.jkiss.dbeaver.model.sql.commands.SQLCommandEcho" label="Echo" description="Prints string to Output log"/>
            description="%confirm.save_sql_console.tip"
            <objectType name="org.jkiss.dbeaver.model.data.DBDResultSetDataProvider"/>
            <objectType name="org.jkiss.dbeaver.model.DBPScriptObject"/>
            <objectType name="org.jkiss.dbeaver.model.data.DBDResultSetDataProvider"/>


                describer="org.jkiss.dbeaver.model.sql.SQLContentTypeDescriber"/>
            <property name="keywords" value=""/>
            <property name="types" value=""/>
    </extension>
        <generator id="procedureCall" class="org.jkiss.dbeaver.model.sql.generator.SQLGeneratorProcedureCall" label="CALL" description="Execute procedure" order="1000">
    <extension point="org.jkiss.dbeaver.lsm.dialectSyntax">

            toggleMessage="%confirm.sql.toggleMessage"
            group="%confirm.sql.group.name"/>
            <objectType name="org.jkiss.dbeaver.model.struct.DBSDataContainer"/>
        <confirmation
            id="drop_sql"
    <extension point="org.jkiss.dbeaver.confirmations">
        <generator id="tableDelete" class="org.jkiss.dbeaver.model.sql.generator.SQLGeneratorDelete" label="DELETE" description="DELETE from table" order="4">
        <confirmation
<plugin>
        <initializer class="org.jkiss.dbeaver.model.sql.internal.SQLModelPreferencesInitializer"/>
        <generator id="dataSelect" class="org.jkiss.dbeaver.model.sql.generator.resultset.SQLGeneratorSelectFromData" label="SELECT .. WHERE .. =" description="SELECT from table" order="1">
            message="%confirm.close_running_query.message"
        <generator id="tableInnerJoin" class="org.jkiss.dbeaver.model.sql.generator.SQLGeneratorInnerJoin" label="INNER JOIN" description="JOIN tables" order="7" multiObject="true">
            <objectType name="org.jkiss.dbeaver.model.struct.DBSDataContainer"/>
                priority="high"
        </generator>
              name="SQL script"
    <extension-point id="org.jkiss.dbeaver.sqlFormatter" name="%extension-point.org.jkiss.dbeaver.sqlFormatter.name" schema="schema/org.jkiss.dbeaver.sqlFormatter.exsd"/>
                <property id="org.jkiss.dbeaver.core.confirm.dangerous_sql"
        <command id="export" class="org.jkiss.dbeaver.model.sql.commands.SQLCommandExport" label="Export resultset" description="Export results of the next query. Launches data transfer process."/>
        <dialect id="basic" class="org.jkiss.dbeaver.model.impl.sql.BasicSQLDialect" label="SQL" description="Base SQL dialect for all other dialects." icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/misc/sql.svg" abstract="true">
            description="%confirm.drop_sql.tip"
        <generator id="tableDDL" class="org.jkiss.dbeaver.model.sql.generator.SQLGeneratorDDL" label="DDL" description="Get table DDL" order="1001">
            <propertyGroup id="sqlEditor" label="SQL Editor">
            message="%confirm.dangerous_sql.message"
    <extension-point id="org.jkiss.dbeaver.sqlCommand" name="%extension-point.org.jkiss.dbeaver.sqlCommand.name" schema="schema/org.jkiss.dbeaver.sqlCommand.exsd"/>
    </extension>
        <content-type
                          label="%confirm.drop_sql.label" description="%confirm.drop_sql.tip"
            title="%confirm.dangerous_sql.title"
    <extension-point id="org.jkiss.dbeaver.confirmations" name="SQL confirmations" schema="schema/org.jkiss.dbeaver.confirmations.exsd"/>

                <property id="SQLEditor.ContentAssistant.proposals.long.name" label="%SQLEditor.ContentAssistant.proposals.long.name"
    <!-- SQL Generators -->
    <extension point="org.jkiss.dbeaver.sqlCommand">
            title="%confirm.close_result_tabs.title"
        <!-- Result set (data) SQL generators-->

        <propertyGroup id="editors" label="Editors">
        </generator>
        <command id="set" class="org.jkiss.dbeaver.model.sql.commands.SQLCommandSet" label="Set" description="Sets variable/parameter value"/>
            title="%confirm.close_running_query.title"
            <property name="ddlKeywords" value="CREATE,ALTER,DROP"/>
            title="%confirm.save_sql_console.title"
            <objectType name="org.jkiss.dbeaver.model.struct.DBSDataManipulator"/>
        <generator id="tableSelect" class="org.jkiss.dbeaver.model.sql.generator.SQLGeneratorSelect" label="SELECT" description="SELECT from table" order="1">
                <property id="sql.proposals.insert.table.alias" label="Insert table aliases (in FROM clause)"
            message="%confirm.close_result_tabs.message"
                id="org.jkiss.dbeaver.sql"
            group="%confirm.sql.group.name"/>
        <command id="unset" class="org.jkiss.dbeaver.model.sql.commands.SQLCommandUnset" label="Unset" description="Removes variable/parameter"/>
            <root folder="Scripts"/>
            <objectType name="org.jkiss.dbeaver.model.struct.DBSDataContainer"/>
    <extension point="org.jkiss.dbeaver.sqlFormatter">
    </extension>
        <!-- Table SQL generators-->
    </extension>
        <confirmation
            id="close_running_query"
    <extension-point id="org.jkiss.dbeaver.sqlGenerator" name="%extension-point.org.jkiss.dbeaver.sqlGenerator.name" schema="schema/org.jkiss.dbeaver.sqlGenerator.exsd"/>
        </generator>
        </generator>
    </extension>
                          label="%confirm.dangerous_sql.label" description="%confirm.dangerous_sql.tip"
        </generator>
            title="%confirm.drop_sql.title"
        <generator id="tableUpdate" class="org.jkiss.dbeaver.model.sql.generator.SQLGeneratorUpdate" label="UPDATE" description="UPDATE table" order="3">
            <property name="" value=""/>
        <generator id="tableMerge" class="org.jkiss.dbeaver.model.sql.generator.SQLGeneratorMerge" label="MERGE" description="MERGE table" order="5">
            <objectType name="org.jkiss.dbeaver.model.data.DBDResultSetDataProvider"/>
        <formatter id="default" class="org.jkiss.dbeaver.model.sql.format.tokenized.SQLFormatterTokenized" label="%sql.formatter.default.name" description="%sql.formatter.default.tip"/>

                          type="boolean" scopes="user" defaultValue="true"/>
            <objectType name="org.jkiss.dbeaver.model.struct.DBSDataManipulator"/>
            group="%confirm.sql.group.name"/>
        </propertyGroup>
            id="dangerous_sql"
            <property name="execKeywords" value=""/>
        </generator>
        <generator id="dataSelectMany" class="org.jkiss.dbeaver.model.sql.generator.resultset.SQLGeneratorSelectManyFromData" label="SELECT .. WHERE .. IN" description="SELECT from table IN" order="2">
<?eclipse version="3.2"?>
        <formatter id="external" class="org.jkiss.dbeaver.model.sql.format.external.SQLFormatterExternal" label="%sql.formatter.external.name" description="%sql.formatter.external.tip"/>
            <property name="functions" value=""/>
                          validValues="NEW,DEFAULT" defaultValue="NEW" type="string" scopes="global,user"/>
    <extension-point id="org.jkiss.dbeaver.sqlDialect" name="%extension-point.org.jkiss.dbeaver.sqlDialect.name" schema="schema/org.jkiss.dbeaver.sqlDialect.exsd"/>
    </extension>
            toggleMessage="%confirm.sql.toggleMessage"
    <extension point="org.jkiss.dbeaver.settings">
